{% extends "pages/abstract/dashboard.html.twig" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ ("DASHBOARD") }}{% endblock %}
{% block page_description %}{% endblock %}

{% block body_matter %}

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div id="widget-group-users" class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"><i class="fa fa-fw fa-user"></i> {{translate('USER', 2)}}</h3>
                        {% include "tables/table-tool-menu.html.twig" %}
                    </div>
                    <div class="box-body">
                        {% include "tables/group-users.html.twig" with {
                            "table" : {
                                "id" : "table-group-users"
                            }
                        }
                        %}
                    </div>
                    <div class="box-footer">
                        <button type="button" class="btn btn-success js-user-create">
                            <i class="fa fa-plus-square"></i>
                        </button>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-sm-4 col-sm-offset-4 col-xs-12">
                <div class="box box-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-black-active">
                        <h3 class="widget-user-username">
                            {("WELCOME"), {
                                'first_name': current_user.first_name
                            })}}
                        </h3>
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle" src="{{assets.url('assets://userfrosting/images/cupcake.png')}}" alt="User Avatar">
                    </div>
                    <div class="box-footer">
                        <h4>Welcome to {{site.title}}!</h4>
                        <p>
                            It doesn't look like any features have been set up for this account...yet.  Maybe they haven't been implemented yet, or maybe someone forgot to give you access.  Either way, we're glad to have you aboard!
                        </p>
                    </div>
                </div>
                <!-- /.widget-user -->


            </div>
            <!-- /.row -->
        {% endif %}
    </div>
    <!-- /.row -->
{% endblock %}

{% block scripts_page %}
    <!-- Include page variables -->
    <script>
        {% include "pages/partials/page.js.twig" %}

        // Add user name
        page = $.extend(
            true,               // deep extend
            {
                "group_slug": "{{current_user.group.slug}}"
            },
            page
        );
    </script>

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/dashboard') | raw }}

{% endblock %}