{% extends "base.html.twig" %}

{% block title %}Quai Antique - Modification de l'images'
{% endblock %}

{% block body %}
	<div class="container">

		<h1 class="mt-4">Modification de la Image</h1>

		<form name="recipe" method="post" enctype="multipart/form-data">

			<div class="form-group">
				{{ form_label(form.name) }}
				{{ form_widget(form.name) }}
				<div class="form-error">
					{{ form_errors(form.name) }}
				</div>
			</div>

			<div class="form-image">
				{{ form_row(form.imageFile) }}
			</div>


			{{ form_row(form.ingredients) }}

			{{ form_row(form._token) }}

			<button type="submit" id="recipe_submit" name="recipe[submit]" class="btn btn-primary mt-4">Modifier une Image</button>

		</form>
	</div>
{% endblock %}
