{% extends "base.html.twig" %}

{% block title %}

	{{ recipe.name }}
{% endblock %}

{% block body %}
	<div class="container">

		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		<h1 class="mt-4">{{ recipe.name }}</h1>
		<div class="recipe__image">
			<img style="max-width: 500px;" src="{{ vich_uploader_asset(recipe, 'imageFile') }}">
		</div>



		<div class="mt-4">
			{{ recipe.description|raw }}
		</div>


		<div class="mark">
			{{ form(form) }}
			</div>

		</div>
	{% endblock %}
